.index_nav li{
list-style: none;
color: red;
}

.index_nav {
display: block;

}

body{
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    color: red;
}

.maker{
       width:20px;
       height:20px;
       border:1px solid #088;
       border-radius:10px;
       background-color:#0FF;
       opacity:0.5;
}

.address
{
   text-decoration:none;
   color:#aa3300;
   font-size:14px;
   font-weight:bold;
   text-shadow:black 0.1em 0.1em 0.2em;
}

table tbody {
    display: block;
    height: 200px;
    overflow-y: scroll;
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /**表格列的宽度由表格宽度决定，不由内容决定*/
    text-align: center;
}

thead th,
tbody td {
    width: 50px;
}

table thead {
    width: calc( 100% - 1em);/*表头与表格垂直对齐*/
}
.customer-container {
    height: 500px;
    overflow-y: auto;
}