.index_nav li{
list-style: none;
color: red;
}

.index_nav {
display: block;

}

body{
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    color: red;
}

.maker{
       width:20px;
       height:20px;
       border:1px solid #088;
       border-radius:10px;
       background-color:#0FF;
       opacity:0.5;
}

.address
{
   text-decoration:none;
   color:#aa3300;
   font-size:14px;
   font-weight:bold;
   text-shadow:black 0.1em 0.1em 0.2em;
}