<div id="kudata">
    <div class="main">


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="jiance-tab" data-toggle="tab" href="#jiance" role="tab" aria-controls="jiance" aria-selected="true">监测数据</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="shixu-tab" data-toggle="tab" href="#shixu" role="tab" aria-controls="shixu" aria-selected="false">时序曲线</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="diejia-tab" data-toggle="tab" href="#diejia" role="tab" aria-controls="diejia" aria-selected="false">叠加曲线</a>
  </li>
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="shuju-tab" data-toggle="tab" href="#shuju" role="tab" aria-controls="shuju" aria-selected="false">数据对比</a>
  </li>
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="yujing-tab" data-toggle="tab" href="#yujing" role="tab" aria-controls="yujing" aria-selected="false">预警历史</a>
  </li>
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="yuzhi-tab" data-toggle="tab" href="#yuzhi" role="tab" aria-controls="yuzhi" aria-selected="false">预警阈值</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="jiance" role="tabpanel" aria-labelledby="home-tab">
      <table class="table">
            <thead>
            <tr>
                <th>监测点编号</th>
                <th>监测点名称</th>
                <th>状态</th>
                <th>类型</th>
                <th>经度</th>
                <th>纬度</th>
            </tr>
            </thead>
            <tbody>
                {% for dian in kudata %}
                <tr>
                    <td>{{ dian.dianId }}</td>
                    <td>{{ dian.dianName }}</td>
                    <td>{{ dian.status }}</td>
                    <td>{{ dian.type }}</td>
                    <td>{{ dian.longitude }}</td>
                    <td>{{ dian.latitude }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>

  <div class="tab-pane fade" id="shixu" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="diejia" role="tabpanel" aria-labelledby="contact-tab">...</div>
    <div class="tab-pane fade" id="shuju" role="tabpanel" aria-labelledby="contact-tab">...</div>
     <div class="tab-pane fade" id="yujing" role="tabpanel" aria-labelledby="contact-tab">...</div>
     <div class="tab-pane fade" id="yuzhi" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>



    </div>
</div>
