
      <script type="text/javascript">
       var wangjiaping = ol.proj.fromLonLat([110.01, 34.24]);
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
                source: new ol.source.XYZ({
                        url: 'http://mt2.google.cn/vt/lyrs=y&hl=zh-CN&gl=CN&src=app&x={x}&y={y}&z={z}&s=G'
                        }),
                projection: 'EPSG:3857'
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([{{ longtitude }}, {{ latitude }}]),
          zoom: 8
        })
      });


      var marker = new ol.Overlay({
        position: wangjiaping,
        positioning:'center-center',
        element: document.getElementById('marker'),
        stopEvent:flase
      });
      marker.getElement().title="王家坪尾矿库";
      map.addOverlay(marker);

    var text = new ol.Overlay({
        position: wangjiaping,
        element: document.getElementById('address')
    });
    map.addOverlay(text);
    text.getElement().innerText = marker.getElement().title;
    </script>

