<div id="map" class="map">
      <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
                source: new ol.source.XYZ({
                        url: 'http://mt2.google.cn/vt/lyrs=y&hl=zh-CN&gl=CN&src=app&x={x}&y={y}&z={z}&s=G'
                        }),
                projection: 'EPSG:3857'
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([114.79, 31.91]),
          zoom: 4
        })
      });
    </script>
</div>