<div id="shixu" class="shixu">
    <div id="waterdata" style="width:600px; height:400px;"></div>
    <script>
    var mychart = echarts.init(document.getElementById('waterdata'));

    $.ajax({
        type: "get",
        url:"http://127.0.0.1:5000/map/waterdata",
        success: function(result){
            result = $.parseJSON(result);
            var waterdate=[];
            var rain=[];
            for( var i=0; i<result.length; i++){
                waterdate.push(result[i].monitoringTime);
            }
            for( var i=0; i<result.length; i++){
                rain.push(result[i].waterElevation);
            }
            mychart.hideLoading();

        mychart.setOption(option={
        title:{
            text: '监测值'
        },
        tooltip: {},
        legend: {
            data:['库水位']
        },
        xAxis:{
            data: waterdate
        },
        yAxis: {
            min:1076.0,
            max:1077.0
        },
        series:[{
            name: '库水位',
            type: 'line',
            data: rain
        }]
    });

        }
    });


    </script>
</div>